{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}


{% block body %}
	<div {{ react_component('UserList') }}></div>
{% endblock %}
